table {
  border-collapse: collapse;
  border: 1px solid grey;
  background: linear-gradient(45deg, #eecfba, #c5dde8);
  border: 3px solid grey;
  border-top: 3px solid grey;
  margin: auto;
}
th {
  border: 1px solid grey;
}
td {
  border: 1px solid grey;
}
th,
td {
  border: 1px solid grey;
}

/* задаём для ячейки тела таблицы границу серого цвета толщиной 1px */
td {
  border-bottom: 1px solid grey;
}

th {
  width: 20%;
}
td:first-child {
  width: 30%;
}
th,
td {
  padding: 10px 15px;
}
